#navbarUnlogged {
	background: #7A5F49;
	width: auto;
	height: 100px; 
	border-radius: 15px;
	border-style: groove;
	border-color: #87705E;
	border-width: 3px;
	display: flex;
	flex-direction: row;
}

.fa-beer {    
	font-size: 80px !important ; /* zmienic important */
	margin-left: 20px;
	margin-top: 8px;
	color: #FFEDE0;
	text-shadow: 2px 2px 6px black;
}  

#logoText{
	font-family: Berkshire Swash; 
	font-size: 85px;
	margin-left: 20px;
	font-weight: bold; 
	color: #FFEDE0;
	text-shadow: 2px 2px 6px black;
	margin-top: -3px;
}

#navbarButtonsContainer{
	display: flex;
	flex-direction: row;
	width: 45%;
	margin-left: 70px;
	align-items: flex-end;
}

.navbarButton{
	display:flex;
	background-color: #FFFDE5;
	height: 50%;
	padding-left: 15px;
	padding-right: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border-color: #3a3a3a;
	border-width: 0.5px;
	border-bottom: none;
	box-shadow: 0px 0px 1px 0.1px black;
}

#loginButtonText{
	font-size: 28px;
	font-family: Trirong;
	font-weight: bold;
	color: #3a3a3a;
}

.fa-search, .fa-user-plus, .fa-sign-in-alt{
	font-size: 25px !important ; /* zmienic important */
	padding-right: 8px;
	padding-top: 1px;
	color: #3a3a3a;
	text-shadow: 0px 0px 0.2px black;
}

.fa-sign-in-alt{
	font-size: 29px !important;
}
